# Dictionaries

In [2]:
my_dict = {'key1':'value1','key2':2}

In [3]:
my_dict

{'key1': 'value1', 'key2': 2}

In [4]:
my_dict['key2']

2

In [10]:
my_dict = {'k1_int':1234, 'k2_str':"Hello", 'k3_float':234.546}

In [11]:
my_dict

{'k1_int': 1234, 'k2_str': 'Hello', 'k3_float': 234.546}

In [17]:
print(my_dict['k3_float'])
print(my_dict['k2_str'])
print(my_dict['k1_int'])

234.546
Hello
1234

In [18]:
my_dict

{'k1_int': 1234, 'k2_str': 'Hello', 'k3_float': 234.546}

In [19]:
my_dict.items()

dict_items([('k1_int', 1234), ('k2_str', 'Hello'), ('k3_float', 234.546)])

In [20]:
my_dict['k3_float']-100

134.546

In [22]:
my_dict['k2_str'][0]

'H'

In [23]:
my_dict['k1_int'] = my_dict['k3_float']-100

In [24]:
my_dict

{'k1_int': 134.546, 'k2_str': 'Hello', 'k3_float': 234.546}

In [25]:
my_dict['k1_int'] += 5

In [26]:
my_dict

{'k1_int': 139.546, 'k2_str': 'Hello', 'k3_float': 234.546}

In [27]:
d ={}

In [28]:
d['animal']='dog'

In [29]:
d

{'animal': 'dog'}

In [30]:
d['answer']=50

In [31]:
d

{'animal': 'dog', 'answer': 50}

In [32]:
d1 = {'k1':{'nest_key1':35,'nest_key11':'chiranjeevi'},'k2':{'nest_key2':30,'nest_key21':'marella'}}

In [33]:
d1

{'k1': {'nest_key1': 35, 'nest_key11': 'chiranjeevi'},
 'k2': {'nest_key2': 30, 'nest_key21': 'marella'}}

In [35]:
d1['k1']

{'nest_key1': 35, 'nest_key11': 'chiranjeevi'}

In [36]:
d1['k1']['nest_key1']

35

In [37]:
d1['k2']['nest_key21']

'marella'

In [42]:
print("My name is : %s"%(d1['k1']['nest_key11'].upper()+' '+d1['k2']['nest_key21'].upper()))

My name is : CHIRANJEEVI MARELLA

In [44]:
(d1['k2']['nest_key21'] + ' ' )* 3

'marella marella marella '

In [45]:
d1.keys()

dict_keys(['k1', 'k2'])

In [46]:
d1.values()

dict_values([{'nest_key1': 35, 'nest_key11': 'chiranjeevi'}, {'nest_key2': 30, 'nest_key21': 'marella'}])

In [47]:
d1.items()

dict_items([('k1', {'nest_key1': 35, 'nest_key11': 'chiranjeevi'}), ('k2', {'nest_key2': 30, 'nest_key21': 'marella'})])

In [50]:
d1.get('k1')

{'nest_key1': 35, 'nest_key11': 'chiranjeevi'}