## Lists
We will create List, Sort the List, Add item to the List and remove item from the list

In [1]:
my_list = [1,2,3,4]

In [2]:
my_list

[1, 2, 3, 4]

In [3]:
my_list[:3]

[1, 2, 3]

In [4]:
my_list[::-1]

[4, 3, 2, 1]

In [5]:
my_list[0]

1

In [6]:
my_list[2]

3

In [7]:
my_list = ["String",123, 234.756]

In [8]:
print(my_list)

['String', 123, 234.756]

In [9]:
my_list.append("Hello Append")

In [10]:
my_list

['String', 123, 234.756, 'Hello Append']

In [13]:
my_list.index("Hello Append")

3

In [14]:
new_list = [1,2,3,4]

In [15]:
my_list + new_list

['String', 123, 234.756, 'Hello Append', 1, 2, 3, 4]

In [16]:
my_list.pop(3)

'Hello Append'

In [17]:
my_list * 2

['String', 123, 234.756, 'String', 123, 234.756]

In [18]:
my_list.clear

In [24]:
my_list.pop(1)

123

In [25]:
my_list

['String', 234.756]

In [30]:
my_list.reverse()

In [33]:
l = [84,34,736,123,45]

In [34]:
l.reverse()

In [35]:
l

[45, 123, 736, 34, 84]

In [36]:
my_list

[234.756, 'String']

#### Note: 

Please make sure when you are doing sort. The data type of all the elements should be of same data type.

Example : my_list has both String and Float data type, when we do sort it will fail on that list.

my_list.sort() will throw an error

TypeError: '<' not supported between instances of 'str' and 'float'

In [41]:
my_list.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [ ]:
l.sort()

In [40]:
l

[34, 45, 84, 123, 736]

In [42]:
l1 = [1,2,3]
l2 = [3,4,5]
l3 = [4,6,7]

In [43]:
matrix = [l1,l2,l3]

In [44]:
matrix

[[1, 2, 3], [3, 4, 5], [4, 6, 7]]

In [45]:
len(matrix)

3

In [47]:
matrix[0][1]

2

In [49]:
matrix[2][1]

6

In [50]:
first_col = [row[0] for row in matrix]

In [51]:
first_col

[1, 3, 4]